<nav class="navbar navbar-default navbar-static-top navbar-inverse my-nav" role = "navigation">
  <div class="container">
    <ul class="nav navbar-nav">
    			<li><a href="/contact">Contact Us</a></li>
          <li><a href="/faq">Frequently Asked Questins</a></li>
          <li><a href="/about">About</a></li>
        </ul>
  </div>
</nav>