<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="my-buffer">
  <h1>About</h1>
  <h2>Who we are</h2>
  <p>
  We are a group of four Vanderbilt Students studying divinity, buisness and computer science. Our 
  goal is to offer good nutritious food to devoute travelers of all faiths. We are starting with 
  halal food due to the large number of muslims globally but we hope to expand to other diets soon. 
  Please use the <a href="/contact">contact us page</a> if you would like to get to know more about us.
  </p>
  <h2>Who we serve</h2>
  <img src="/Muslim_population_map.png" alt="A map of the number of muslims by country globally">
  <div class="caption">
  A map of Muslim populations by numbers, (<a href="http://www.pewforum.org/2009/10/07/mapping-the-global-muslim-population/">Pew Research Center</a>, 2009).
  <br/>
  <a href="https://commons.wikimedia.org/wiki/File:Muslim_population_map.png#/media/File:Muslim_population_map.png">Muslim population map</a>" by <a href="//en.wikipedia.org/wiki/User:HaireDunya">HaireDunya</a> - <span class="int-own-work" lang="en">Own work</span> from a blank map. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a> via <a href="https://commons.wikimedia.org/wiki/">Commons</a>.
  </div>
  <h3>Devout Muslims</h3>
  <p>
  We seek to make delicious halal cooking available to devout muslims no matter where in the world 
  they find themselves.
  </p>
</div>

  <% include ../partials/footer.ejs %>


</body>
</html>
