<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="my-buffer">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Jasmine</h3>
    </div>
    <div class="panel-body">
      Come by for traditional american foods cooked in a hala kitchen.
    </div>
    <div class="panel-footer">
      <a>Contact Host</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Rita</h3>
    </div>
    <div class="panel-body">
      I enjoy cooking traditional lebanese food for friends and family. Please let me know at least 
      a day in advance if you would like to eat with us.
    </div>
    <div class="panel-footer">
      <a>Contact Host</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Elif</h3>
    </div>
    <div class="panel-body">
      I love cooking large dinners. Stop by for a harty meal.
    </div>
    <div class="panel-footer">
      <a>Contact Host</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Fatemeh</h3>
    </div>
    <div class="panel-body">
      We are a very devout family that eats dinner around 7 every day. Let me know if you would like 
      to stop by.
    </div>
    <div class="panel-footer">
      <a>Contact Host</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Roya</h3>
    </div>
    <div class="panel-body">
      Come for some delicious Iranian food.
    </div>
    <div class="panel-footer">
      <a>Contact Host</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Aaliyah</h3>
    </div>
    <div class="panel-body">
      I enjoy cooking traditional foods from the american south such as fried green tomates and 
      shrimp n' grits.
    </div>
    <div class="panel-footer">
      <a>Contact Host</a>
    </div>
  </div>
</div>

  <% include ../partials/footer.ejs %>


</body>
</html>
